table.calendar {
    border-collapse: collapse;
    & td {
        border: 1px lavenderblush solid;
        text-align: center;
        cursor: pointer;
    }

    & .selected {
        background-color: lime;
        border-radius: 50%;
    }
}